Repository livepeer/go-livepeer, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, docker, docs, github_actions, go, ai

.github/labeler.yml:

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - "**/go.mod"
      - "**/go.sum"
      - "**/requirements.txt"

docker:
  - changed-files:
    - any-glob-to-any-file:
      - "docker/**"

docs:
  - changed-files:
    - any-glob-to-any-file:
      - "doc/**"

github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"

go:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.go"

ai:
  - changed-files:
    - any-glob-to-any-file:
      - "ai/**"
      - "**/ai_*.go"

Handle webrtc path prefix (#3282)
  media/rtmp2segment.go
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, ai

dockerfile.mediamtx: Make use of layer caching when building docker image
  docker/Dockerfile.mediamtx
Labels: docker

mediamtx-entry.bash: Use exec to hand off the script
  docker/mediamtx-entry.bash
Labels: docker

chore:remove async processing for object detection
  server/ai_mediaserver.go
Labels: go, ai

chore:add ObjectDetectionResponse in json result parsing as new case
  server/ai_http.go
Labels: go, ai

remove addl object detection async, re-order ai_mediaserver.go urls, move object detection func to generic aiMediaServerHandle
  server/ai_mediaserver.go
Labels: go, ai

update go.mod go.sum to remove ffmpeg-go dependency
  go.mod
  go.sum
Labels: dependencies
