Repository livepeer/go-livepeer, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, docker, github_actions, go, ai

.github/labeler.yml:

dependencies:
  - '**/go.mod'
  - '**/go.sum'
  - '**/requirements.txt'

docker:
  - 'docker/**'

github_actions:
  - '.github/workflows/*.yml'
  - '.github/workflows/*.yaml'

go:
  - '**/*.go'

ai:
  - 'ai/**'
  - '**/ai_*.go'

ai/live: Take RTMP output URL from stream query parameters (#3252)
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/auth.go
Labels: go, ai

trickle-server: Don't auto-create channels on first publish. (#3251)
  trickle/local_publisher.go
  trickle/trickle_server.go
Labels: go

extract pipeline/model from capabilities for activating worker
  core/ai_worker.go
  core/orchestrator.go
  hive/hive.go
  o.conf
  t.conf
Labels: go, ai

Add publishing Control API messages to Trickle
  go.mod
  go.sum
  server/ai_http.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: dependencies, go, ai

Test rtmpOutput
  server/ai_mediaserver.go
Labels: go, ai

Use RemoteAddr for calls back to mediamtx
  server/ai_mediaserver.go
Labels: go, ai

fix remote addr
  server/ai_mediaserver.go
Labels: go, ai

Add Gateway ETH Address to Kafka events (#3249)
  cmd/livepeer/starter/starter.go
  monitor/kafka.go
Labels: go

Add HTTP POST request for Control API
  core/livepeernode.go
  go.mod
  go.sum
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: dependencies, go, ai

Change stream param to path (instead of the form param)
  server/ai_mediaserver.go
Labels: go, ai

Add cleanup
  server/ai_mediaserver.go
Labels: go, ai
