Repository livepeer/go-livepeer, pull requests merged in 2022-02, with the labels that each got.

#2196 cmd/livepeer: Add support for `-j` flag for mist connector
  CHANGELOG_PENDING.md
  cmd/livepeer/livepeer.go
  go.mod
  go.sum
Labels: area: cli, status: core contributors working on it, area: mist

#2225 go.mod: Update underlying livepeer-data/pkg/mistconnector dependency version
  go.mod
  go.sum
Labels: area: cli, status: core contributors working on it

#2249 Bump Tensorflow version to fix critical vulnerabilities
  .github/workflows/linux-tensorflow.yml
  install_ffmpeg.sh
Labels: area: devops
