Repository livepeer/go-livepeer, pull requests merged in 2024-12, with the labels that each got.

#3280 AI Live Video: Local CPU setup
  cmd/livepeer/starter/starter.go
  go.mod
  go.sum
Labels: dependencies, go, AI

#3286 github workflow - use go.mod for go version
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: github_actions

#3277 Move Live Auth api key to a config param
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/livepeernode.go
  server/ai_mediaserver.go
  server/auth.go
  server/auth_test.go
  server/mediaserver.go
Labels: go, AI

#3287 mediamtx: Add metric labels for mediamtx
  docker/mediamtx-entry.bash
Labels: docker

#3261 Live Video Payments
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/livepeernode.go
  server/ai_http.go
  server/ai_live_video.go
  server/ai_process.go
  server/live_payment.go
  server/live_payment_processor.go
  server/live_payment_test.go
  server/mediaserver.go
  server/segment_rpc.go
  server/segment_rpc_test.go
Labels: go, AI

#3292 Revert "Live Video Payments"
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/livepeernode.go
  server/ai_http.go
  server/ai_live_video.go
  server/ai_process.go
  server/live_payment.go
  server/live_payment_processor.go
  server/live_payment_test.go
  server/mediaserver.go
  server/segment_rpc.go
  server/segment_rpc_test.go
Labels: go, AI

#3288 live-ai: Update to use FLV-enabled LPMS
  docker/Dockerfile
  go.mod
  go.sum
  install_ffmpeg.sh
  server/ai_live_video.go
Labels: dependencies, docker, go, AI

#3290 Better retry logic for mediaserver pull and small refactor
  media/mediamtx.go
  media/rtmp2segment.go
  media/rtmp2segment_windows.go
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/mediaserver.go
Labels: go, AI

#3279 feat(ai): enable worker image pulling
  CHANGELOG_PENDING.md
  cmd/livepeer/starter/starter.go
  core/ai.go
  core/ai_test.go
  server/ai_worker_test.go
Labels: go

#3293 Re-apply "Live Video Payments"
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/accounting.go
  core/livepeernode.go
  server/ai_http.go
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/live_payment.go
  server/live_payment_processor.go
  server/live_payment_test.go
  server/mediaserver.go
  server/segment_rpc.go
  server/segment_rpc_test.go
Labels: go, AI

#3301 darwin-amd64 build issue - disable brew upgrade temporarily
  .github/workflows/build.yaml
Labels: github_actions

#3304 Fix "Insufficient Balance" bug when sometimes starting the AI Live Video pipeline
  server/ai_process.go
  server/broadcast.go
Labels: go, AI

#3299 ai/live: Keepalive for control channel.
  core/livepeernode.go
  server/ai_live_video.go
  server/ai_mediaserver.go
Labels: go, AI

#3296 trickle: Sweep idle channels on the server.
  server/ai_http.go
  server/rpc.go
  trickle/trickle_server.go
Labels: go

#3306 Fix panic in clearSessionBalance for offchain
  server/broadcast.go
Labels: go

#3294 Check input stream exists in output stream retry logic
  media/mediamtx.go
  media/rtmp2segment.go
  media/rtmp2segment_windows.go
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/mediaserver.go
Labels: go, AI

#3305 ai/live: Add buffered segment read/writes for RTMP / publish
  media/rtmp2segment.go
  media/rw.go
  media/segment_reader.go
  server/ai_live_video.go
Labels: go, AI

#3300 monitoring: add events trickle api
  core/livepeernode.go
  go.mod
  go.sum
  monitor/kafka.go
  monitor/pipeline_status.go
  server/ai_http.go
  server/ai_live_video.go
  server/ai_process.go
Labels: dependencies, go, AI

#3314 ai/live: Fix early EOFs in media reader
  media/rw.go
Labels: go

#3309 Fix race condition with stream existence check
  server/ai_live_video.go
  server/ai_process.go
Labels: go, AI

#3312 Record current number of live pipelines running
  monitor/census.go
  server/ai_live_video.go
  server/ai_mediaserver.go
Labels: go, AI

#3313 ai/live: Set the default model on the request if needed
  server/ai_process.go
Labels: go, AI

#3310 gateway/events: Create status API with stream/pipeline ID info
  monitor/pipeline_status.go
  server/ai_http.go
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_pipeline_status.go
  server/ai_process.go
  server/auth.go
Labels: go, AI

#3316 gateway: fix stream-status route
  server/ai_http.go
  server/ai_mediaserver.go
Labels: go, AI

#3317 gateway: stream-status: nest last_restart_logs under inference_status
  server/ai_live_video.go
Labels: go, AI

#3318 Publish pipeline stream events on errors
  server/ai_mediaserver.go
Labels: go, AI

#3321 server: Add orch info on AI events
  CHANGELOG_PENDING.md
  server/ai_live_video.go
  server/ai_process.go
Labels: go, AI

#3308 ai/live: Slow orchestrator detection
  server/ai_live_video.go
Labels: go, AI

#3320 gateway: ai authWebhook: send gatewayHost to auth webhook
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/livepeernode.go
  server/ai_mediaserver.go
  server/auth.go
Labels: go, AI

#3322 Fix context for logging
  server/ai_live_video.go
  server/ai_mediaserver.go
Labels: go, AI

#3315 ai/live: Add limited retries for segment publish
  server/ai_live_video.go
  trickle/trickle_publisher.go
  trickle/trickle_server.go
Labels: go, AI

#3326 Add trickle subscribe log line
  server/ai_live_video.go
Labels: go, AI

#3324 ai/live: Emit events for trickle errors
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, AI

#3328 Increase the initial fee
  server/ai_process.go
Labels: go, AI

#3329 go.mod: Update ai-worker lib for stability improvements
  go.mod
  go.sum
Labels: dependencies

#3330 Disable payment check on the O's side
  server/ai_http.go
  server/live_payment_processor.go
Labels: go, AI

#3325 Fix Typographical Errors in Documentation and Code Comments
  cmd/devtool/README.md
  cmd/livepeer_cli/wizard_transcoder.go
  common/util.go
  doc/httpcli.md
  doc/rtmpwebhookauth.md
  pm/stub.go
Labels: go, docs

#3332 ai/live: Handle more special cases in trickle.
  server/ai_live_video.go
  trickle/trickle_publisher.go
  trickle/trickle_server.go
  trickle/trickle_subscriber.go
Labels: go, AI

#3333 Temporary hack to fix comfyui prompt
  server/ai_mediaserver.go
Labels: go, AI
