Repository livepeer/go-livepeer, pull requests merged in 2024-11, with the labels that each got.

#3199 [AI] Parler Text to Speech
  cmd/livepeer/starter/starter.go
  common/util.go
  core/ai.go
  core/ai_test.go
  core/ai_worker.go
  core/capabilities.go
  go.mod
  go.sum
  server/ai_http.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/ai_worker.go
  server/ai_worker_test.go
  server/rpc.go
  server/rpc_test.go
Labels: AI

#3229 fix: Add image-to-text pipeline to remote worker
  server/ai_http.go
  server/ai_worker.go
  server/ai_worker_test.go
Labels: AI

#3226 refactor(ai): remove code redundancy in AI orchestrator server
  server/ai_http.go
  server/ai_mediaserver.go
  server/utils.go
Labels: AI

#3233 chore(ai): update ai-worker dependency to v0.12.1
  go.mod
  go.sum
Labels: AI

#3234 fix(ai): delete I2V temp file on combined Orch/worker
  core/ai_worker.go
Labels: AI

#3235 chore(ai): increase AI version to v0.7.9-ai.4
  VERSION
Labels: AI

#3218 Remove workaround for minVersion
  VERSION
  core/capabilities.go
  core/capabilities_test.go
Labels: AI

#3231 monitor: gateway event queue
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  go.mod
  go.sum
  monitor/kafka.go
  server/segment_rpc.go
Labels: AI

#3244 gateway: queue parameters casing
  cmd/livepeer/livepeer.go
Labels: type: refactor, AI

#3262 Mediamtx Dockefile build improvements
  .github/workflows/build.yaml
  .github/workflows/docker-mediamtx.yaml
  .github/workflows/docker.yaml
  .github/workflows/test.yaml
  Makefile
  docker/Dockerfile.mediamtx
Labels: docker, github_actions

#3264 ai/live: Configure parameters from auth callback
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/auth.go
  server/auth_test.go
Labels: go, AI

#3265 Push Kafka initialisation to later in startup
  cmd/livepeer/starter/kafka.go
  cmd/livepeer/starter/starter.go
Labels: go

#3266 workflows: Rename package to `pkgconf` for macos/brew install
  .github/workflows/build.yaml
Labels: github_actions

#3270 Bump AI worker dep
  go.mod
  go.sum
Labels: dependencies

#3268 Fix json param name for rtmp output
  server/auth.go
Labels: go

#3272 chore: fix some function names in comment
  core/ai.go
  core/ai_worker.go
  crypto/verify.go
  pm/broker.go
Labels: go, AI

#3269 Bump LPMS
  go.mod
  go.sum
Labels: dependencies

#3271 Introduce new config param for AI webhook auth
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  server/ai_mediaserver.go
  server/auth.go
  server/mediaserver.go
Labels: go, AI

#3263 ai: Handle live-video-to-video requests and start runner
  common/util.go
  core/ai.go
  core/ai_test.go
  core/ai_worker.go
  go.mod
  go.sum
  media/rtmp2segment.go
  server/ai_http.go
  server/ai_live_video.go
  server/ai_process.go
  server/ai_worker_test.go
  server/rpc.go
  server/rpc_test.go
Labels: dependencies, go, AI

#3276 Use system ffmpeg for streaming trickle into RTMP
  docker/Dockerfile
  server/ai_live_video.go
Labels: go, AI

#3281 Add -liveAITrickleHostForRunner flag
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/livepeernode.go
  go.mod
  go.sum
  server/ai_http.go
Labels: dependencies, go, AI

#3283 Dockerfile.mediamtx remove custom mediamtx.yml config
  docker/Dockerfile.mediamtx
  docker/mediamtx.yml
Labels: docker

#3282 Handle webrtc path prefix
  media/rtmp2segment.go
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, AI

#3285 mediamtx: Publish deployed version if runtime args are present
  .editorconfig
  .github/labeler.yml
  .github/workflows/docker-mediamtx.yaml
  docker/Dockerfile.mediamtx
  docker/mediamtx-entry.bash
Labels: docker, github_actions
