Repository livepeer/go-livepeer, pull requests merged in 2025-04, with the labels that each got.

#3479 ai/live: Sent events for any WHIP connection errors.
  media/whip_connection.go
  media/whip_connection_test.go
  media/whip_server.go
  server/ai_mediaserver.go
Labels: go, AI

#3487 Set ID params in new whip server request
  server/ai_mediaserver.go
Labels: go, AI

#3481 Generate runner client from latest schema
  ai/worker/runner.gen.go
  ai/worker/worker.go
  server/ai_process.go
Labels: go, AI

#3482 Whip connection stats
  media/whip_connection.go
  media/whip_server.go
  monitor/census.go
Labels: go, AI

#3480 ai/live: Report normal disconnects as errors.
  server/ai_mediaserver.go
Labels: go, AI

#3492 Improve to startup
  cmd/livepeer/starter/starter.go
  discovery/db_discovery.go
Labels: go

#3493 Auto clear existing sessions if they are not returned from the discovery
  server/ai_session.go
  server/broadcast_test.go
  server/selection.go
  server/selection_test.go
Labels: go, AI

#3496 ai/live: Send WHEP playback URL in WHIP answer.
  media/whip_server.go
  server/ai_mediaserver.go
Labels: go, AI

#3498 ai/live: Don't overwrite WHIP errors
  server/ai_mediaserver.go
Labels: go, AI

#3497 Realtime Video AI in a Box
  Makefile
  box/aiModels.json
  box/box.md
  box/box.sh
  box/gateway.sh
  box/mediamtx.sh
  box/mediamtx.yml
  box/orchestrator.sh
  box/stream.sh
  cmd/livepeer/starter/starter.go
  server/ai_live_video.go
  server/ai_mediaserver.go
Labels: go, AI

#3501 chore: fix some comments
  cmd/scripts/linkify_changelog.go
  pm/sendermonitor.go
Labels: go

#3500 Multiple AI Runner Container per 1 GPU
  ai/worker/docker.go
  ai/worker/docker_test.go
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
Labels: go, AI

#3507 Fix infinite selection loop
  server/ai_session.go
  server/selection.go
Labels: go, AI

#3508 [INF-118] workflows: Bump github runner to ubuntu-24.04 or self-hosted
  .editorconfig
  .editorconfig-checked.json
  .github/workflows/build.yaml
  .github/workflows/docker-mediamtx.yaml
  .github/workflows/docker.yaml
  .github/workflows/git.yaml
  .github/workflows/issue-labeler.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Labels: github_actions

#3515 Reduce the initial Realtime Video AI Fees
  server/ai_process.go
Labels: go, AI

#3499 ai/live: Enable RTP stats for WHIP.
  media/rtp_segmenter.go
  media/whip_connection.go
  media/whip_connection_test.go
  media/whip_server.go
Labels: go

#3502 ai/live: Another way to improve control channel cleanup.
  server/ai_live_video.go
  server/ai_mediaserver.go
Labels: go, AI

#3516 ai/live: RTP segmenter fixes
  media/rtp_segmenter.go
  media/rtp_segmenter_test.go
Labels: go

#3522 Use newer `install_ffmpeg.sh` script from lpms repo
  .github/workflows/test.yaml
  install_ffmpeg.sh
Labels: github_actions

#3520 ai/live: Discard incomplete RTP frames.
  media/whip_server.go
Labels: go

#3503 ai/live: Prevent a race condition with control channels
  core/livepeernode.go
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, AI

#3524 Allow specifying specific O for the selection
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, AI

#3525 Fix warnings reported by editorconfig
  .editorconfig
  Makefile
  cmd/devtool/devtool.go
  cmd/devtool/scripts/create_multiple_transcoders.bash
  cmd/livepeer/starter/starter_test.go
  cmd/livepeer/starter/test_fixtures/perf_stats.json
  net/lp_rpc.proto
Labels: go

#3521 ai/live: Skip interleaving in segmenter
  media/rtp_segmenter.go
  media/rtp_segmenter_test.go
Labels: go

#3530 AI Gateway new prometheus metric - ai_orchestrators_available_total
  monitor/census.go
  server/ai_session.go
Labels: go, AI

#3535 Fix make box syntax
  Makefile
  ai/worker/docker.go
  ai/worker/worker.go
  box/orchestrator.sh
Labels: go, AI

#3534 Fix devtool after #3525
  cmd/devtool/devtool.go
Labels: go

#3533 ai/live: Send incomplete frames if needed.
  media/whip_server.go
Labels: go

#3537 Add metric on O for available containers
  ai/worker/docker.go
  monitor/census.go
Labels: go, AI

#3541 server: Add selection retries for live-video-to-video pipelines
  server/ai_process.go
Labels: go, AI

#3538 Send whip stats as a kafka event
  box/gateway.sh
  media/whip_connection.go
  media/whip_server.go
  monitor/census.go
  server/ai_mediaserver.go
Labels: go, AI

#3544 Fix retrying when the session is inUse
  server/ai_process.go
Labels: go, AI
