Repository livepeer/go-livepeer, pull requests merged in 2025-02, with the labels that each got.

#3379 refactor: fix aiRunnerImage warning typo
  cmd/livepeer/starter/starter.go
Labels: go

#3353 Add local ffmpeg and MediaMTX builds to Docker
  docker/Dockerfile
  docker/Dockerfile.mediamtx
  media/mediamtx.go
  server/ai_mediaserver.go
Labels: docker

#3382 ai/live: Use events as a heartbeat.
  server/ai_live_video.go
Labels: go, AI

#3369 ai/live: preempt race condition in first named pipe segment
  media/rtmp2segment.go
Labels: go

#3380 Add retryCount to rtmp input log line for monitoring
  media/rtmp2segment.go
Labels: go

#3381 Add gateway errors to the status API response
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_pipeline_status.go
Labels: go, AI

#3383 Add x264 support to local ffmpeg
  docker/Dockerfile
Labels: docker

#3388 Switch kafka producer to use gatewayHost config
  cmd/livepeer/starter/kafka.go
Labels: go

#3387 Make processingRetryTimeout configurable
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/livepeernode.go
  server/ai_process.go
  server/ai_session.go
Labels: go, AI

#3384 Send requestID and streamID through to the runner for logging
  ai/worker/worker.go
  core/ai.go
  core/ai_orchestrator.go
  core/ai_test.go
  server/ai_http.go
  server/ai_process.go
  server/ai_worker_test.go
  server/rpc.go
  server/rpc_test.go
Labels: go, AI

#3033 fix(ai): update ai-video selection suspension
  server/ai_process.go
  server/ai_process_test.go
  server/ai_session.go
  server/handlers.go
  server/webserver.go
Labels: AI

#3391 Add Orchestrator's latency metrics to Kafka events
  common/types.go
  discovery/discovery.go
  discovery/discovery_test.go
Labels: go

#3394 refactor: use a more straightforward return value
  core/transcoder.go
Labels: go

#3393 fix(ai): fix orchestrator suspension for AI jobs
  server/ai_process.go
  server/ai_session.go
  server/handlers.go
  server/webserver.go
Labels: go, AI

#3402 Add Min Initial Latency Selector
  server/ai_session.go
  server/broadcast.go
  server/rpc.go
  server/selection.go
  server/selection_test.go
Labels: go, AI

#3401 Latency and misc fixes
  media/mediamtx.go
  media/rtmp2segment.go
  media/segment_reader.go
  server/ai_live_video.go
Labels: go

#3411 Increase ticket params expiration from 10 (~2 min) to 40 (~8 min).
  pm/recipient.go
Labels: go

#3399 ai/worker: Restart warm containers when they crash
  ai/worker/container.go
  ai/worker/docker.go
Labels: go, AI

#3410 feat: gateway events
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, AI

#3404 Add periodic session refresh for Live Video to Video
  server/ai_session.go
  server/selection.go
Labels: go, AI

#3419 Limit the number of AI Process Retries
  server/ai_process.go
Labels: go, AI

#3420 Distinguish between timeout and context canceled while handling AI Process Request
  server/ai_process.go
Labels: go, AI

#3421 Clear previous gateway status on new requests
  server/ai_live_video.go
  server/ai_mediaserver.go
Labels: go, AI

#3422 ai/live: remove analyzeduration from rtmp pull.
  media/rtmp2segment.go
Labels: go

#3424 Add a key ordering to clog logging
  clog/clog.go
  clog/clog_test.go
  server/ai_mediaserver.go
Labels: go, AI

#3414 fix(ai): complete retryable sessions after current request
  server/ai_process.go
  server/ai_process_test.go
Labels: go, AI

#3423 Add capacity checking during GetOrchestratorInfo request
  ai/worker/docker.go
  server/rpc.go
Labels: go, AI

#3415 update(ai): update batch AI to use new Selector and add sort by current latency
  server/ai_session.go
  server/selection.go
  server/selection_test.go
Labels: go, AI

#3428 Refactor "Update batch AI to use new Selector"
  server/ai_session.go
  server/selection.go
  server/selection_test.go
Labels: go, AI

#3425 ai/worker: Avoid idle container spam with always-on healthcheck
  ai/worker/docker.go
  ai/worker/docker_test.go
Labels: go, AI

#3431 Corrected typos
  CHANGELOG.md
  cmd/livepeer_cli/wizard_token.go
  core/ai_orchestrator.go
  core/autoconvertedprice_test.go
  core/capabilities.go
  core/orch_test.go
  core/orchestrator.go
  core/transcoder_test.go
Labels: go, AI
