Repository livepeer/go-livepeer, pull requests merged in 2025-06, with the labels that each got.

#3593 Add metrics about face value and max float
  monitor/census.go
  pm/recipient.go
Labels: go

#3610 Reduce ice timeout
  media/whip_server.go
Labels: go

#3612 Clone session for Realtime Video AI Processing
  server/ai_process.go
  server/ai_session.go
Labels: go, AI

#3598 Save output segments to disk
  server/ai_live_video.go
Labels: go, AI

#3389 fix(ai): fix combined orchestrator capacity management
  core/ai_orchestrator.go
  core/ai_test.go
  server/ai_http.go
  server/rpc.go
  server/rpc_test.go
Labels: go, AI

#3619 Revert "Revert "ai/live: Work around iOS microsecond timestamp bug. (…
  media/timestamp_corrector.go
  media/timestamp_corrector_test.go
  media/whip_server.go
Labels: go

#3622 fix: BYOC cleanup
  server/job_rpc.go
Labels: go

#3631 Increase init payment from 10s to 15s
  server/ai_process.go
Labels: go, AI

#3630 ai/live: Use orch supplied ManifestID instead of guessing it from the URL
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, AI

#3632 Set json field names for the track stats structs
  media/whip_connection.go
Labels: go

#3643 Context logging adjustments
  media/whip_server.go
  server/ai_process.go
Labels: go, AI

#3646 Temp disable Orch Swapping
  server/ai_mediaserver.go
Labels: go, AI

#3594 trickle: Various fixes
  test.sh
  trickle/local_subscriber.go
  trickle/trickle_publisher.go
  trickle/trickle_server.go
  trickle/trickle_subscriber.go
  trickle/trickle_test.go
Labels: go

#3657 Re-encode audio to AAC for non-local outputs.
  docker/Dockerfile
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: docker, go, AI

#3659 Temporarily revert commits to deploy audio fix
  server/ai_live_video.go
  server/ai_process.go
  test.sh
  trickle/local_subscriber.go
  trickle/trickle_publisher.go
  trickle/trickle_server.go
  trickle/trickle_subscriber.go
  trickle/trickle_test.go
Labels: go, AI

#3660 Revert "Temporarily revert commits to deploy audio fix (#3659)"
  server/ai_live_video.go
  server/ai_process.go
  test.sh
  trickle/local_subscriber.go
  trickle/trickle_publisher.go
  trickle/trickle_server.go
  trickle/trickle_subscriber.go
  trickle/trickle_test.go
Labels: go, AI
