Repository livepeer/go-livepeer, pull requests merged in 2025-03, with the labels that each got.

#3275 feat: add proposal vote cli arg
  CHANGELOG_PENDING.md
  cmd/livepeer_cli/livepeer_cli.go
  cmd/livepeer_cli/wizard_transcoder.go
  eth/client.go
  eth/contracts/LivepeerGovernor.go
  eth/contracts/bondingManager.go
  eth/contracts/controller.go
  eth/contracts/livepeerToken.go
  eth/contracts/livepeerTokenFaucet.go
  eth/contracts/minter.go
  eth/contracts/poll.go
  eth/contracts/roundsManager.go
  eth/contracts/serviceRegistry.go
  eth/contracts/ticketBroker.go
  eth/stubclient.go
  eth/types/contracts.go
  server/handlers.go
  server/handlers_test.go
  server/webserver.go
Labels: go

#3435 Add debug logs for the selection
  server/ai_session.go
  server/selection.go
Labels: go, AI

#3436 Don't suspend sessions in case of the InssufficientCapacity Error
  server/ai_process.go
Labels: go, AI

#3439 ai/worker: Verbose logs flag for ai-runner
  ai/worker/docker.go
  ai/worker/docker_test.go
  ai/worker/worker.go
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
Labels: go, AI

#3438 chore: remove redundant words
  core/accounting.go
  server/broadcast.go
Labels: go

#3437 ai/live: Remove unused EventsPub field
  core/livepeernode.go
Labels: go

#3443 ai/worker: Fix VERBOSE_LOGGING flag again...
  ai/worker/docker.go
Labels: go, AI

#3432 new whip server
  .gitignore
  clog/clog.go
  go.mod
  go.sum
  media/rtp_segmenter.go
  media/rtp_segmenter_test.go
  media/whip_connection.go
  media/whip_connection_test.go
  media/whip_server.go
  server/ai_mediaserver.go
  test.sh
Labels: dependencies, go, AI

#3442 Do not retry "invalid ticket senderNonce" for Live Video to Video
  server/ai_process.go
  server/ai_process_test.go
Labels: go, AI

#3444 Update retryable logic for Live Video to Video
  server/ai_process.go
  server/ai_session.go
Labels: go, AI

#3448 ai/live: Use clog consistently for payments
  server/ai_http.go
  server/ai_live_video.go
  server/live_payment_processor.go
Labels: go, AI

#3449 ai/live: Log input segments to disk
  server/ai_live_video.go
Labels: go, AI

#3467 ai/live: Lock access around LivePipelines
  server/ai_process.go
Labels: go, AI

#3468 ai/live: Use detached context for live AI requests.
  server/ai_mediaserver.go
Labels: go, AI

#3459 Add Orchestrator-side metrics to track the number of streams currently being processed
  ai/worker/docker.go
  monitor/census.go
Labels: go, AI

#3462 Add log printing the current live streams
  server/ai_live_video.go
  server/ai_mediaserver.go
Labels: go, AI

#3408 Don't use gateway provided requestID for trickle URLs
  ai/worker/runner.gen.go
  ai/worker/worker.go
  core/ai.go
  core/ai_orchestrator.go
  core/ai_test.go
  server/ai_http.go
  server/ai_process.go
  server/ai_worker_test.go
  server/rpc.go
  server/rpc_test.go
Labels: go, AI

#3466 ai/live: Add unit tests for MediaReader / MediaWriter
  media/rw_test.go
Labels: go

#3450 server/ai: Add event when the ingest stream ends
  server/ai_mediaserver.go
Labels: go, AI

#3471 Skip capacity check during the session refresh (fix OrchestratorCapped in Realtime Payments)
  discovery/db_discovery.go
  discovery/discovery.go
  discovery/discovery_test.go
  net/lp_rpc.pb.go
  net/lp_rpc.proto
  server/ai_mediaserver.go
  server/ai_session.go
  server/broadcast.go
  server/broadcast_test.go
  server/live_payment.go
  server/rpc.go
  server/rpc_test.go
Labels: go, AI

#3470 ai/live: Reuse HTTP connections for trickle requests
  trickle/trickle_publisher.go
  trickle/trickle_subscriber.go
Labels: go

#3451 ai/live: Add a minimum segment duration for new WHIP.
  media/rtp_segmenter.go
  media/rtp_segmenter_test.go
  media/whip_server.go
Labels: go

#3473 Add stream_trace event "gateway_receive_few_first_segments"
  server/ai_live_video.go
  server/ai_process.go
Labels: go, AI

#3476 clog: fix Info printing of file and line numbers
  clog/clog.go
Labels: go

#3475 Set ID params in the body rather than headers
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, AI
