Repository livepeer/go-livepeer, pull requests merged in 2025-05, with the labels that each got.

#3545 Make track kind field human readable and normalize jitter
  media/whip_connection.go
  server/ai_mediaserver.go
Labels: go

#3548 ai/live: Fix fetching events twice.
  server/ai_live_video.go
  trickle/trickle_server.go
Labels: go, AI

#3546 Add timeout for the initial Realtime Video request
  server/ai_process.go
Labels: go, AI

#3547 server/ai: Add a limit of retries on the same session
  server/ai_process.go
Labels: go, AI

#3560 ai/live: Set Access-Control-Expose-Headers in WHIP response.
  media/whip_server.go
Labels: go

#3558 Allow specifying capacity to repeat the same warm model
  cmd/livepeer/starter/starter.go
Labels: go

#3505 Introduce min runner version to selection
  ai/worker/container.go
  ai/worker/runner.gen.go
  ai/worker/utils.go
  ai/worker/utils_test.go
  ai/worker/worker.go
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/ai.go
  core/ai_orchestrator.go
  core/ai_test.go
  core/capabilities.go
  core/capabilities_test.go
  discovery/discovery.go
  net/lp_rpc.pb.go
  net/lp_rpc.proto
  net/lp_rpc_grpc.pb.go
  server/ai_session.go
  server/ai_worker_test.go
  server/handlers_test.go
Labels: go, AI

#3552 ai/live: Add support for subscribing to the current segment.
  trickle/trickle_server.go
Labels: go

#3563 Add liveOutSegmentTimeout flag to specify timeout waiting for output Realtime Video segments
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  core/livepeernode.go
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/mediaserver.go
Labels: go, AI

#3562 Only set first error
  server/ai_live_video.go
  server/ai_pipeline_status.go
Labels: go, AI

#3567 Add ingest stats to stream status
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_pipeline_status.go
Labels: go, AI

#3566 Convert Jitter to ms
  media/whip_connection.go
Labels: go

#3568 Bump MediaMTX to 1.11.2-livepeer-3
  docker/Dockerfile.mediamtx
Labels: docker

#3572 Add additional logs to trickle publisher
  server/ai_live_video.go
Labels: go, AI

#3580 Allow to filter Orchestrators by "contains" (not only by exact match)
  server/ai_process.go
Labels: go, AI

#3571 Add orchestrator manifest ID to logs.
  ai/worker/runner.gen.go
  server/ai_http.go
  server/ai_process.go
Labels: go, AI

#3565 Refactor: Move realtime stream processing outside the initial HTTP Request
  server/ai_live_video.go
  server/ai_mediaserver.go
  server/ai_process.go
Labels: go, AI

#3569 ai/worker: Handle LOADING state on containers healthcheck
  ai/worker/container.go
  ai/worker/docker.go
  ai/worker/docker_test.go
  ai/worker/worker.go
Labels: go, AI

#3576 ai/live: Use nonblocking ringbuffer instead of MultiWriter.
  media/ring.go
  media/ring_test.go
  server/ai_live_video.go
  server/ai_mediaserver.go
Labels: go, AI

#3584 ai: fix ipv6 loopback address parsing for mediamtx hosts
  server/ai_mediaserver.go
Labels: go, AI

#3583 ai: Update OpenAPI spec.
  ai/worker/runner.gen.go
Labels: go, AI

#3588 Disable Video to Video suspension mechanism (set penalty to 0)
  server/ai_session.go
Labels: go, AI

#3592 worker: Fix version discovery on containers startup
  ai/worker/container.go
  ai/worker/docker.go
  ai/worker/docker_test.go
  ai/worker/worker.go
  box/build-runner.sh
Labels: go

#3599 fix liveParams to check for nil
  server/ai_process.go
Labels: go, AI

#3604 lpms: Update to c1eefa63ff3a
  go.mod
  go.sum
Labels: dependencies
