Repository livepeer/go-livepeer, pull requests merged in 2025-01, with the labels that each got.

#3339 ai/live: Catch panics during RTMP out.
  server/ai_live_video.go
Labels: go, AI

#3341 [ENG-2342] ai_first_segment_delay metric added
  monitor/census.go
  server/ai_live_video.go
  server/ai_process.go
Labels: go, AI

#3343 ai/live: Disable golang client keepalives.
  trickle/trickle_publisher.go
  trickle/trickle_subscriber.go
Labels: go

#3344 chore: fix some struct names in comment
  common/db.go
  core/ai_worker.go
Labels: go, AI

#3340 Add debug info about the received GetOrchInfo Response and its latency
  discovery/discovery.go
Labels: go

#3347 [ENG-2343] Stream attempts metric
  monitor/census.go
  server/ai_http.go
  server/ai_process.go
Labels: go, AI

#3346 Fix SIGSEGV in fra-ai
  docker/Dockerfile
  media/mediamtx.go
  media/rtmp2segment.go
  server/ai_live_video.go
Labels: docker, go

#3355 fix(ai): allow workers to run without the transcoder flag
  CHANGELOG_PENDING.md
  cmd/livepeer/starter/starter.go
Labels: go

#3356 doc: add VSCode debugging docs
  doc/development.md
Labels: docs

#3357 docs: add VSCode compound launch examples
  doc/development.md
Labels: docs

#3360 docs: improve vscode debug docs
  doc/development.md
Labels: docs

#3361 docs: fix minor typo
  doc/development.md
Labels: docs

#3363 docs(ai): add missing aiServiceRegistry flag
  doc/development.md
Labels: docs

#3359 Update LPMS to latest commit
  go.mod
  go.sum
Labels: dependencies

#3367 ai/live: Cancel ffmpeg exec when segmenter exits.
  media/rtmp2segment.go
Labels: go

#3364 fix: correct URL unmarshal error
  CHANGELOG_PENDING.md
  common/types.go
Labels: go

#3371 Segment file cleanup process
  cmd/livepeer/starter/starter.go
  media/rtmp2segment.go
  media/rtmp2segment_windows.go
  server/ai_mediaserver.go
  server/ai_worker_test.go
  server/cliserver_test.go
  server/mediaserver.go
  server/mediaserver_test.go
  server/push_test.go
Labels: go, AI

#3336 ai: Update llm pipeline
  CHANGELOG_PENDING.md
  core/ai.go
  core/ai_test.go
  core/ai_worker.go
  go.mod
  go.sum
  server/ai_http.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/ai_process_test.go
  server/ai_worker.go
  server/ai_worker_test.go
  server/rpc.go
  server/rpc_test.go
Labels: dependencies, go, AI

#3372 ai: update llm tokens used
  core/ai_test.go
  go.mod
  go.sum
  server/ai_process.go
  server/ai_worker_test.go
Labels: dependencies, go, AI

#3284 Enhance aiRunnerImage flag
  cmd/livepeer/livepeer.go
  cmd/livepeer/starter/starter.go
  go.mod
  go.sum
Labels: go

#3368 Add smoke test endpoint
  server/ai_mediaserver.go
Labels: go, AI

#3373 Delay clearing stream status
  server/ai_live_video.go
Labels: go, AI

#3374 Add live AI openapi spec
  Makefile
  openapi.yaml
  server/ai_mediaserver.go
Labels: go, AI

#3345 ai/worker: Absorb ai-worker library
  CHANGELOG_PENDING.md
  Makefile
  ai/file_worker.go
  ai/worker/b64.go
  ai/worker/b64_test.go
  ai/worker/container.go
  ai/worker/doc.go
  ai/worker/docker.go
  ai/worker/docker_test.go
  ai/worker/multipart.go
  ai/worker/runner.gen.go
  ai/worker/worker.go
  cmd/livepeer/starter/starter.go
  core/ai.go
  core/ai_orchestrator.go
  core/ai_test.go
  go.mod
  go.sum
  server/ai_http.go
  server/ai_mediaserver.go
  server/ai_process.go
  server/ai_process_test.go
  server/ai_worker.go
  server/ai_worker_test.go
  server/rpc.go
  server/rpc_test.go
Labels: dependencies, go, AI

#3377 Fix RTMP pull
  media/rtmp2segment.go
  server/ai_live_video.go
Labels: go

#3375 Rename Live AI spec and fix validation errors
  Makefile
  liveai.openapi.yaml
  server/ai_mediaserver.go
Labels: go, AI
